.hero-section {
  padding: 64px 0;
}

.hero-title {
  font-family: var(--first-family);
  font-size: 24px;
  line-height: 1.5;
  font-weight: 600;
  letter-spacing: 0.02em;
  text-align: left;
  margin-left: 24px;
  color: var(--dark);
  margin-bottom: 26px;
  
}

.title-min  {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.02em;
  
}
.hero-subtitle {
  font-family: var(--first-family);
  font-size: 18px;
  font-weight: 600;
  color: var(--bg-acc);
  margin-bottom: 18px;
  text-align: left;
  margin-left: 24px;
}
.desk {
  display: none;
}
.hero-info {
  background-color: var(--lightgrey);
  padding: 32px 0;
  border-radius: 24px 24px 0 0;
}

.networks-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  margin-left: 24px;
  gap: 4px;
  margin-bottom: 96px;
}
.books-news {
  margin-bottom: 55px;
}
.networks-list-item {
  border: 1px solid rgba(47, 73, 96, 0.4);
  border-radius: 60px;
  padding: 8px 13px;
  letter-spacing: -0.02em;
}
.networks-list-item:hover {
  background-color: var(--navy-blue);
  color: var(--lightgrey);
  border: none;
}
.networks-link {
  font-size: 12px;
  font-family: var(--first-family);
}


.hero-btn {
  font-family: var(--first-family);
  font-size: 18px;
  border-radius: 60px;
  padding: 22px 34px;
  margin-bottom: 26px;
  background-color: var(--navy-blue);
  letter-spacing: -0.02em;
  color: var(--lightgrey);
  display: inline-block;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--bg-acc);
}
.btn-book {
  border: 2px solid var(--navy-blue);
  background-color: var(--lightgrey);
  color: var(--dark);
  padding: 20px 36px;
}
.btn-book:hover,
.btn-book:focus {
  background-color: var(--bg-acc);
  color: var(--lightgrey);
}
.buttons-hero-book,
.hero-buttons      {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero-image {
  border-radius: 0 0 24px 24px;
  background-color: var(--blue-light);
  padding: 50px 16px;
  
}

.swiper-hero {
  position: relative;
  overflow: hidden;
}

.swiper-slide.hero {
  padding: 0;
  border: none;
}

@media (min-width: 320px) and (max-width: 359px) {
  .networks-list {
   justify-content: left;
   margin-left: 20px;
  }
  .hero-title {
    font-size: 22px;
    text-align: left;
    margin-left: 20px;
  }
  .desk{
    display: none;
  }
  .title-min  {
    font-size: 16px;
  }
  .books-news {
    margin-bottom: 54px;
  }
  .hero-btn {
    padding: 18px 28px;
  }
  .btn-book {
    padding: 16px 26px;
  }
  .swiper-buttons.hero-buttons {
    max-height: 85px;
 }
}

@media (min-width: 540px) and (max-width: 767px) {
  .container {
    max-width: 540px;
    padding: 0 16px;
    margin: 0 auto;
    
  }
  .networks-list {
    margin-left: 24px;
  }
  .books-news {
    margin-bottom: 55px;
  }
  .hero-title {
    font-size: 34px;
    margin-bottom: 32px;
    width: 386px;
  }
  .title-min  {
    font-size: 24px;
  }
  .hero-subtitle {
    text-align: left;
    margin-left: 24px;
  }
  .desk {
    display: none;
  }
  .hero-btn {
    padding: 20px 28px;
  }
  .btn-book {
    padding: 18px 26px;
  }
  .buttons-hero-book,
  .hero-buttons      {
    justify-content: left;
    margin-left: 24px;
  }
  .swiper-buttons.hero-buttons {
    max-height: 89px;
 }
}
@media screen and (min-width: 768px) {
  .hero-section {
    padding-bottom: 96px;
  }

  .hero-info {
    padding: 64px;
  }

  .networks-list {
    margin-bottom: 164px;
    margin-left: 0;
    gap: 6px;
  }
  .books-news {
    margin-bottom: 112px;
  }
  .hero-subtitle {
    font-size: 28px;
    margin-bottom: 28px;
    text-align: left;
  }
  .hero-title {
    font-size: 42px;
    line-height: 100%;
    max-width: 510px;
    text-align: left;
    margin-left: 0;
    margin-bottom: 36px;
  }
  .title-min  {
    font-size: 30px;
  }
  .buttons-hero-book,
  .hero-buttons {
    display: flex;
    justify-content: left;
    margin-left: 0;
  }
  .swiper-buttons.hero-buttons {
    width: 280px;
  }
  .hero-image {
    padding: 120px 45px;
  }

  .desk {
    display: none;
  }
}

@media screen and (min-width: 1440px) {

  .title-min  {
    font-size: 34px;
    font-weight: 400;
  }
  .hero-wrapper {
    display: flex;
  }

  .networks-list {
    justify-content: left;
    margin-bottom: 206px;
  }
  .networks-link {
    font-size: 16px;
  }
  .hero-info {
    border-radius: 24px 0 0 24px;
    width: 50%;
    padding: 36px;
  }
  .hero-image {
    padding: 60px 42px;
    width: 50%;
    border-radius: 0 24px 24px 0;
  }
  .hero-title {
    width: 520px;
    text-align: left;
    margin-left: 0;
  }
  .hero-subtitle {
    margin-bottom: 20px;
    margin-left: 0;
  }
  .books-news {
    margin-bottom: 164px;
  }
  .buttons-hero-book,
  .hero-buttons  {
    display: flex;
    flex-direction: row;
    justify-content: left;
  }
  .hero-buttons  {
    margin-left: 0;
  }
}
